# Generating An Imbalanced Binary Dataset

In [1]:
import sklearn
import numpy as np
from sklearn.datasets import make_classification
import matplotlib.pyplot 
import pandas as pd

In [2]:
# define an imbalanced binary dataset
# 2 informative features
X, y = make_classification(n_samples=10000, n_features=2, n_redundant=0,
    n_clusters_per_class=1, weights=[0.99], flip_y=0, random_state=1)

In [3]:
# convert to pandas Dataframe
imb_df = pd.DataFrame(X, columns = ['X1','X2'])
imb_df['y'] = y

# Examine Dataset

In [4]:
imb_df.head()

         X1        X2  y
0  0.222014  0.540207  0
1  1.347439  1.412824  0
2  0.537238  0.372730  0
3  2.134462  1.404819  0
4  2.315827  1.356858  0

In [5]:
imb_df.describe()

                 X1            X2             y
count  10000.000000  10000.000000  10000.000000
mean       0.966733      0.997252      0.010000
std        0.950270      0.467640      0.099504
min       -3.091974     -0.622193      0.000000
25%        0.335374      0.686097      0.000000
50%        0.965995      0.998290      0.000000
75%        1.605024      1.307164      0.000000
max        4.447943      3.087821      1.000000

In [6]:
# Get frequency of classes in the dataset
imb_df['y'].value_counts()

0    9900
1     100
Name: y, dtype: int64

# Create Imbalanced Dataset (3 classes)